# scraper temp stuff
squashfs-root
temp.AppImage
claude.exe
# big files
data/cursor/app/usr/share/cursor/cursor
data/cursor/app/usr/share/cursor/resources/app/resources/helpers/node

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


node_modules
/dist